header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #00000070;  
    
    >div {
        display: flex;
        justify-content: space-between;
    }

    * {
        color: #fff !important;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 40px;

    img {
        margin-right: 60px;
    }

    a {
        padding: 10px 0px;
        border-bottom: 2px solid transparent;
        transition: border-bottom ease 0.4s;
    }

    a:hover {
        border-bottom: 2px solid #EF4234;
    }

}

.actions {
    display: flex;
    gap: 16px;
    align-items: center;

    button {
        border: none;
        background: transparent;
    }
}